.contact {
  padding: 117px 165px 78px 176px;
}
.contact__title {
  font-family: Lato, sans-serif;
  margin-bottom: 87px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}